In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
df=pd.read_csv('MediProcessed_data.csv',index_col=0)

In [3]:
df.head()

,children,smoker,age,bmi,charges in INR,male,northwest,southeast,southwest
0,0,0,23,34.4,1826.843,1,0,0,1
1,1,0,19,24.6,1837.237,1,0,0,1
2,0,0,56,40.3,10602.385,1,0,0,1
3,1,0,30,32.4,4149.736,0,0,0,1
4,5,0,19,28.6,4687.797,0,0,0,1

In [4]:
X=df.drop('charges in INR',axis=1)
y=df['charges in INR']

In [5]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1,test_size=0.3)

In [6]:
model=Sequential([
    Dense(3000,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(1000,activation='tanh'),
    Dense(700,activation='relu'),
    Dense(500,activation='sigmoid'),
    Dense(300,activation='tanh'),
    Dense(1,activation='relu')])

In [7]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3000)              27000

 dense_1 (Dense)             (None, 1000)              3001000

 dense_2 (Dense)             (None, 700)               700700

 dense_3 (Dense)             (None, 500)               350500

 dense_4 (Dense)             (None, 300)               150300

 dense_5 (Dense)             (None, 1)                 301

=================================================================
Total params: 4,229,801
Trainable params: 4,229,801
Non-trainable params: 0
_________________________________________________________________

In [8]:
model.compile(optimizer='Adam',loss='mse',metrics=['mse'])

In [9]:
history=model.fit(X_train,y_train,batch_size=50,epochs=30,validation_data=(X_test,y_test))

Epoch 1/30
19/19 [==============================] - 1s 43ms/step - loss: 318888000.0000 - mse: 318888000.0000 - val_loss: 329443936.0000 - val_mse: 329443936.0000
Epoch 2/30
19/19 [==============================] - 1s 30ms/step - loss: 318670976.0000 - mse: 318670976.0000 - val_loss: 329286304.0000 - val_mse: 329286304.0000
Epoch 3/30
19/19 [==============================] - 1s 30ms/step - loss: 318516992.0000 - mse: 318516992.0000 - val_loss: 329130752.0000 - val_mse: 329130752.0000
Epoch 4/30
19/19 [==============================] - 1s 31ms/step - loss: 318363808.0000 - mse: 318363808.0000 - val_loss: 328977664.0000 - val_mse: 328977664.0000
Epoch 5/30
19/19 [==============================] - 1s 32ms/step - loss: 318213472.0000 - mse: 318213472.0000 - val_loss: 328822048.0000 - val_mse: 328822048.0000
Epoch 6/30
19/19 [==============================] - 1s 36ms/step - loss: 318061088.0000 - mse: 318061088.0000 - val_loss: 328669632.0000 - val_mse: 328669632.0000
Epoch 7/30
19/19 [==============================] - 1s 30ms/step - loss: 317911136.0000 - mse: 317911136.0000 - val_loss: 328516192.0000 - val_mse: 328516192.0000
Epoch 8/30
19/19 [==============================] - 0s 26ms/step - loss: 317760448.0000 - mse: 317760448.0000 - val_loss: 328363712.0000 - val_mse: 328363712.0000
Epoch 9/30
19/19 [==============================] - 0s 26ms/step - loss: 317612928.0000 - mse: 317612928.0000 - val_loss: 328208064.0000 - val_mse: 328208064.0000
Epoch 10/30
19/19 [==============================] - 0s 26ms/step - loss: 317460736.0000 - mse: 317460736.0000 - val_loss: 328057792.0000 - val_mse: 328057792.0000
Epoch 11/30
19/19 [==============================] - 0s 26ms/step - loss: 317312672.0000 - mse: 317312672.0000 - val_loss: 327905408.0000 - val_mse: 327905408.0000
Epoch 12/30
19/19 [==============================] - 0s 26ms/step - loss: 317163008.0000 - mse: 317163008.0000 - val_loss: 327754784.0000 - val_mse: 327754784.0000
Epoch 13/30
19/19 [==============================] - 0s 25ms/step - loss: 317014496.0000 - mse: 317014496.0000 - val_loss: 327603584.0000 - val_mse: 327603584.0000
Epoch 14/30
19/19 [==============================] - 0s 26ms/step - loss: 316865920.0000 - mse: 316865920.0000 - val_loss: 327452448.0000 - val_mse: 327452480.0000
Epoch 15/30
19/19 [==============================] - 0s 25ms/step - loss: 316717696.0000 - mse: 316717696.0000 - val_loss: 327300960.0000 - val_mse: 327300960.0000
Epoch 16/30
19/19 [==============================] - 1s 31ms/step - loss: 316569440.0000 - mse: 316569440.0000 - val_loss: 327148544.0000 - val_mse: 327148544.0000
Epoch 17/30
19/19 [==============================] - 1s 31ms/step - loss: 316420032.0000 - mse: 316420032.0000 - val_loss: 326998368.0000 - val_mse: 326998368.0000
Epoch 18/30
19/19 [==============================] - 1s 35ms/step - loss: 316272320.0000 - mse: 316272320.0000 - val_loss: 326847072.0000 - val_mse: 326847072.0000
Epoch 19/30
19/19 [==============================] - 1s 36ms/step - loss: 316125344.0000 - mse: 316125344.0000 - val_loss: 326694304.0000 - val_mse: 326694304.0000
Epoch 20/30
19/19 [==============================] - 1s 36ms/step - loss: 315975744.0000 - mse: 315975776.0000 - val_loss: 326544896.0000 - val_mse: 326544896.0000
Epoch 21/30
19/19 [==============================] - 1s 46ms/step - loss: 315827648.0000 - mse: 315827648.0000 - val_loss: 326395904.0000 - val_mse: 326395904.0000
Epoch 22/30
19/19 [==============================] - 1s 42ms/step - loss: 315680864.0000 - mse: 315680864.0000 - val_loss: 326245280.0000 - val_mse: 326245280.0000
Epoch 23/30
19/19 [==============================] - 1s 35ms/step - loss: 315533472.0000 - mse: 315533472.0000 - val_loss: 326095104.0000 - val_mse: 326095104.0000
Epoch 24/30
19/19 [==============================] - 1s 41ms/step - loss: 315385376.0000 - mse: 315385376.0000 - val_loss: 325945216.0000 - val_mse: 325945216.0000
Epoch 25/30
19/19 [==============================] - 1s 41ms/step - loss: 315238272.0000 - mse: 315238272.0000 - val_loss: 325794848.0000 - val_mse: 325794848.0000
Epoch 26/30
19/19 [==============================] - 1s 34ms/step - loss: 315091840.0000 - mse: 315091840.0000 - val_loss: 325643360.0000 - val_mse: 325643360.0000
Epoch 27/30
19/19 [==============================] - 1s 33ms/step - loss: 314942432.0000 - mse: 314942432.0000 - val_loss: 325496224.0000 - val_mse: 325496224.0000
Epoch 28/30
19/19 [==============================] - 1s 33ms/step - loss: 314797920.0000 - mse: 314797920.0000 - val_loss: 325344288.0000 - val_mse: 325344288.0000
Epoch 29/30
19/19 [==============================] - 1s 32ms/step - loss: 314650304.0000 - mse: 314650304.0000 - val_loss: 325193600.0000 - val_mse: 325193600.0000
Epoch 30/30
19/19 [==============================] - 1s 31ms/step - loss: 314502688.0000 - mse: 314502688.0000 - val_loss: 325045024.0000 - val_mse: 325045024.0000

In [10]:
np.sqrt(history.history['mse'])

array([17857.43542617, 17851.3578195 , 17847.04434914, 17842.75225407,
       17838.53895363, 17834.26724034, 17830.0627032 , 17825.83653016,
       17821.69823558, 17817.42787273, 17813.27235519, 17809.07094713,
       17804.90089835, 17800.728075  , 17796.56416278, 17792.39837683,
       17788.19923432, 17784.04678356, 17779.91406053, 17775.70746834,
       17771.54039469, 17767.41016581, 17763.26186262, 17759.09276962,
       17754.95063356, 17750.82645963, 17746.61748052, 17742.5454769 ,
       17738.38504487, 17734.2236368 ])